.grafico {
    &__titulo {
    margin: 0 50px;
    text-align: center;
  }
  &__container {
    display: flex;
    justify-content: center;
    margin: 20px 50px;
    align-items: center;
    flex-direction: column;
    @media (min-width: 768px) {
      margin:0;
      flex-direction: row;
    }
    &__imagen {
      padding: 0 40px;
      svg {
        width: 100%;
      }
    }
    &__textos {
      padding: 0 40px;
      max-width: 450px;
    }
  }
}

.a-bar {
  animation-name: barras;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.b-bar {
  animation-name: barras-2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}