.container__navbar{
    background-color:$white;
     &__navbar__lista{
         align-items: center;
         flex-direction: rows;
         font-size: 20px;
         margin-left: 20px;
        
    }


        
}


