.escalar {
  background-image: url("../img/bg-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  min-height: 800px;
  &__container {
    margin: 80px 50px;
  }
}
