.escalar {
  background-image: url("../img/bg-hero.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center bottom;
  width: 100%;
  min-height: 400px;
  @media (min-width: 768px) {
    min-height: 800px;
  }
  &__container {
    margin: 80px 50px;
  }
}
